*
{
margin: 0;
box-sizing: border-box;
}

body{color: white;
    /* background: linear-gradient(to right, #7f00ff, #e100ff); */
    /* background: linear-gradient(to right, #000428, #004e92); */
    font-family: 'Nunito Sans', sans-serif;
    background: linear-gradient(to right, #000428, #004e92);
}

.center{
        text-align: center;
        margin: 15%;
    }

.start{width: 30%;
    margin: auto;
    border: 2px solid white;
    margin-bottom: 20px;
    } 
.start:hover{
    color: white;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 2px 2px;
    }           
a{text-decoration: none;
color: white;}        

.info{display: flex;
    justify-content: space-between;
    padding: 1em;}

.main{margin: 10% 0 0 5%;
    
    }

.op{border-style: solid;
    margin: 0.5em;
    width: 60%;
}
       
 .bod{ display: inline;
     border-right: 5px solid ; 
      padding: 0 1em; 
      float: left;
      width: 5%;
 
 } 

.end{text-align: center;
    margin: 15%;}

.end h1{margin: 1em;}
.rightAnswer{background-color: green;}
.wrongAnswer{background-color: red;}

.end p:hover{cursor: pointer;}
.choices{
    display: inline-block;
    width:91.99%;
    height:100%;
    padding-left: 1%;
}
h1:hover{
    color: white;
    text-shadow: 2px 2px 4px #004e92;
}
.op:hover{
    color: white;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 2px 2px;
  }

 .output{
    color: #004e92;
    background-color: white;
    border: 2px solid #000428;
    margin: 1em auto;
    width: 10%;
}

.highScore{
    border: 2px solid;
    padding: 1%;}

.playAgain{
    padding: 1% 2%;
    border: 2px solid white;
}    

.add{display: none;}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }