*
{
margin: 0;
box-sizing: border-box;
}

body{color: white;
    background: linear-gradient(to right, #7f00ff, #e100ff);
    font-family: 'Nunito Sans', sans-serif;}

.center{margin:15% auto ;
        text-align: center;}

.start{margin: 1em;}        
a{text-decoration: none;
color: white;}        

.info{display: flex;
    justify-content: space-between;
    padding: 1em;}

.main{margin: 10% 0 0 5%;
    
    }

.op{border-style: solid;
    margin: 0.5em;
    width: 60%;
}
       
 .bod{ display: inline;
     border-right: 5px solid ; 
      padding: 0 1em; 
      float: left;
      width: 5%;
 
 } 

.end{text-align: center;
    margin: 15%;}

.end h1{margin: 1em;}
.rightAnswer{background-color: green;}
.wrongAnswer{background-color: red;}

.end p:hover{cursor: pointer;}
.choices{
    display: inline-block;
    width:91.99%;
    height:100%;
}
h1:hover{
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
.op:hover{
    color: white;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 2px 2px;
  }

 .output{
     color: #7f00ff;
    background-color: white;
    border: 2px solid black;
    margin: 1em auto;
    width: 10%;
}

